//- index.pug
extends ../../layouts/layout
block content
    section
        +nav([['UI Examples', 'ui_examples.shtml'], ['Collapsible Search']])
        .alerts_container
            +alert-bootstrap("danger","hola soy un alerta","cuidado")
        
        div.card(style="width: 18rem;")
            img.card-img-top(src="../../../assets/images/image.jpg")
            .card-body
                h5.card-title Card title
                i.icon_warning                
                p.card-text Some quick example text to build on the card title and make up the bulk of the card's content.
                a.btn.btn-primary(href="javascript:void(0)") Go somewhere
           
        

        div#img-bkg(style="width:500px;height:500px")
        div#img-svg-bkg(style="width:300px;height:300px;")
        object(data="../../../assets/images/rabbit.svg", type="image/svg+xml")


